:root {
  --box-color: #CB90DF;
  --title-bar-color: #C373DF;
  --title-font-color: #67287E;
  --title-font: Andale Mono, monospace;
}

body {
  background-color: #BD56E1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
     }

.title-bar{
  display:flex;
  box-shadow: 1px 1px 10px 2px #5E087D;
  background-color: var(--title-bar-color);
  border: solid black 2px;
  height: 35px;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.editor{
  width:29vw;
}

.editor-wrapper {
  display: block;
}

.editor-wrapper #editor{
  width: 30vw;
  height: 50vh;
  padding-top: 5px;
  padding-left: 5px;
  margin-bottom: -5px;
  position: relative;
  border: solid black 2px;
  box-shadow: 1px 1px 10px 2px #5E087D;
}

.preview-wrapper #preview {
  width: 35vw;
  height: 90rem;
  padding: 0 1rem;
  background-color: var(--box-color);
  position: relative;
  border: solid black 2px;
  box-shadow: 1px 1px 10px 2px #5E087D;
}

.fa-arrow-up-right-from-square {
  margin-left: auto;
}
