:root {
  --box-color: #CB90DF;
  --title-bar-color: #C373DF;
  --title-font-color: #67287E;
  --title-font: Andale Mono, monospace;
}

body {
  font-size: 24px;
  background-color: #BD56E1;
}

.title-bar{
  display:flex;
  box-shadow: 1px 1px 10px 2px #5E087D;
  background-color: var(--title-bar-color);
  border: solid black 2px;
  height: 35px;
  font-family: var(--title-font);
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}

.main {
    display: grid;
    grid-gap: 15px;
    margin-top: 40px;
    grid-template-columns: 1fr;
}

#editor, #preview {
  padding: 15px;
  background-color: var(--box-color);
  border: solid black 2px;
  box-shadow: 1px 1px 10px 2px #5E087D;
}

#editor {
  min-height: 300px;
  max-height: 100vh;
  width: 50vw;
}

img {
  border-radius: 50%;
}

pre, code {
  background-color: #ffffff;
}

pre {
    padding: 10px;
}

.fa-arrow-up-right-from-square {
  margin-left: auto;
}

@media(min-width: 992px){
  .main {
     grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 992px){
  .main {
     grid-template-columns: 1fr 1fr;
  }
}
